* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    text-align: center;
    background-color: #404040;
}

header{
    margin-top: 30px;
    color: white;
}

.buttons{
    margin: 10px;
}

button{
    border: none;
    padding: 20px;
    background-color: #404040;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    background-color: #ffffff;
    color: #404040;
    transition: all 0.4s;
}

.container{
    width: 625px;
    height: 625px;
    margin: auto;
    background-color: aquamarine;
    margin-top: 10px;
    display: grid;
}

.pixel{
    background-color: teal;
    border: #808080 1px solid;
}

.footer{
    margin-top: 15px;
    margin-bottom: 30pxw;
    color: white;
    font-size: 9px;
}


